.Label100{
          position: absolute;
          top: 10px;
          left: 1590px;
          font-family: Arial;
          font-size: 15px;
          font-weight: bold;
          color: aqua
}
.Label101{
          position: absolute;
          top: 17pt;
          left: 1590px;
          font-family: Arial;
          font-size: 15px;
          font-weight: bold;
          color: aqua
}
.Label102{
          position: absolute;
          top: 450px;
          left: 220px;
          font-family: Arial;
          font-size: 25px;
          font-weight: bold;
          color: aqua
}
.Label103{
          position: absolute;
          top: 450px;
          left: 500px;
          font-family: Arial;
          font-size: 25px;
          font-weight: bold;
          color: aqua
}
.Label104{
          position: absolute;
          top: 450px;
          left: 810px;
          font-family: Arial;
          font-size: 25px;
          font-weight: bold;
          color: aqua
}
.Label105{
          position: absolute;
          top: 450px;
          left: 1120px;
          font-family: Arial;
          font-size: 25px;
          font-weight: bold;
          color: aqua
}
.Label106{
          position: absolute;
          top: 450px;
          left: 1430px;
          font-family: Arial;
          font-size: 25px;
          font-weight: bold;
          color: aqua
}
.Label107{
          position: absolute;
          top: 430px;
          left: 135px;
          font-family: Arial;
          font-size: 20px;
          font-weight: bold;
          color: white
}
.Label108{
          position: absolute;
          top: 430px;
          left:730px;
          font-family: Arial;
          font-size: 20px;
          font-weight: bold;
          color: white
}
.Label109{
          position: absolute;
          top: 430px;
          left:1335px ;
          font-family: Arial;
          font-size: 20px;
          font-weight: bold;
          color: white
}
.Label110{
          position: absolute;
          top: 430px;
          left:430px;
          font-family: Arial;
          font-size: 20px;
          font-weight: bold;
          color: white
}
.Label111{
          position: absolute;
          top: 430px;
          left: 1035px;
          font-family: Arial;
          font-size: 20px;
          font-weight: bold;
          color: white
}
.Label112{
          position: absolute;
          top: 430px;
          left: 1640px;
          font-family: Arial;
          font-size: 20px;
          font-weight: bold;
          color: white
}
.Label113{
          position: absolute;
          top: 870px;
          left: 415px;
          font-family: Arial;
          font-size: 20px;
          font-weight: bold;
          color: white
}
.Label114{
          position: absolute;
          top: 870px;
          left: 890px;
          font-family: Arial;
          font-size: 20px;
          font-weight: bold;
          color:white
}
.Label115{
          position: absolute;
          top: 870px;
          left:1350px;
          font-family: Arial;
          font-size: 20px;
          font-weight: bold;
          color: white
}